/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

ol, ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* start editing from here */

a { text-decoration: none; }

.txt-rt { text-align: right; }

/* text align right */

.txt-lt { text-align: left; }

/* text align left */

.txt-center { text-align: center; }

/* text align center */

.float-rt { float: right; }

/* float right */

.float-lt { float: left; }

/* float left */

.clear { clear: both; }

/* clear float */

.pos-relative { position: relative; }

/* Position Relative */

.pos-absolute { position: absolute; }

/* Position Absolute */

.vertical-base { vertical-align: baseline; }

/* vertical align baseline */

.vertical-top { vertical-align: top; }

/* vertical align top */

nav.vertical ul li { display: block; }

/* vertical menu */

nav.horizontal ul li { display: inline-block; }

/* horizontal menu */

img { max-width: 100%; }

/*end reset*/

body {
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    /*background:url(../images/banner2.jpg) no-repeat center;*/
    background-size: cover;
    font-family: 'Open Sans', sans-serif !important;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kotta One', serif;
    margin: 0;
}

p { margin: 0; }

ul {
    margin: 0;
    padding: 0;
}

label { margin: 0; }

/*-- main --*/

.content { padding: 50px 0; }

.content h1 {
    color: #fff;
    font-size: 38px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

.main {
    background: rgba(255, 255, 255, 0.88);
    margin: 45px auto;
    padding: 30px 30px;
    width: 45%;
}

.main h2 {
    color: #000000;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
    text-align: center;
    text-transform: capitalize;
}

p.copy_rights {
    color: #fff;
    font-size: 14px;
    text-align: center;
}

p.copy_rights a {
    color: #fff;
    text-decoration: none;
}

p.copy_rights a:hover { text-decoration: underline; }

/*-- movie ticket --*/

.front {
    background-color: #D88A04;
    border-radius: 3px;
    color: #fff;
    margin: 5px 4px 45px 38px;
    padding: 9px 0;
    text-align: center;
}

.booking-details {
    float: right;
    width: 38%;
}

.booking-details h3 {
    font-size: 16px;
    margin: 5px 5px 0 0;
}

.booking-details p {
    color: #D88A04;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5em;
}

.booking-details p span {
    color: #000;
    font-size: 14px;
    font-weight: normal;
}

div.seatCharts-cell {
    color: #182C4E;
    float: left;
    font-size: 13px;
    height: 29px;
    line-height: 27px;
    margin: 3px;
    outline: none;
    text-align: center;
    width: 29px;
}

div.seatCharts-seat {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

div.seatCharts-row { height: 35px; }

div.seatCharts-seat.available { background-color: #949494; }

div.seatCharts-seat.focused {
    background-color: #00B70C;
    border: none;
}

div.seatCharts-seat.selected { background-color: #00B70C; }

div.seatCharts-seat.unavailable {
    background-color: #D00000;
    cursor: not-allowed;
}

div.seatCharts-container {
    border-right: 1px solid #adadad;
    float: left;
    padding: 0 20px 0 0;
    width: 54%;
}

div.seatCharts-legend { padding-left: 0px; }

ul.seatCharts-legendList { padding-left: 0px; }

.seatCharts-legendItem {
    line-height: 2;
    margin-top: 10px;
}

span.seatCharts-legendDescription {
    line-height: 30px;
    margin-left: 5px;
}

.checkout-button {
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    -webkit-transition: 0.5s all;
    background: #D88A04;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    margin: 16px 0 22px;
    outline: none;
    padding: 7px 11px;
    transition: 0.5s all;
}

.checkout-button:hover {
    -moz-transition: 0.5s all;
    /*-- w3layouts --*/
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    -webkit-transition: 0.5s all;
    background: #000;
    transition: 0.5s all;
}

#selected-seats {
    max-height: 84px;
    overflow-x: none;
    overflow-y: auto;
    width: 200px;
}

#selected-seats li {
    background: #f7f7f7;
    border: 1px solid #d3d3d3;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    font-weight: 600;
    margin: 6px 0;
    padding: 6px 11px;
    text-align: center;
    width: 50%;
}

.scrollbar { overflow-y: scroll; }

.booking-details p i {
    color: #000;
    font-size: 18px;
    font-weight: normal;
    line-height: 2.2em;
}

ul.book-left {
    float: left;
    width: 35%;
}

ul.book-right {
    float: right;
    width: 63%;
}

ul.book-left li {
    color: #D88A04;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.9em;
}

ul.book-right li {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.9em;
}

/*-- agileits --*/

/*-- //movie ticket --*/

/*-- responsive media queries --*/

@media (max-width: 1440px) {
    .main { width: 50%; }

    .content h1 { font-size: 33px; }
}

@media (max-width: 1366px) {
    .main { width: 53%; }
}

@media (max-width: 1280px) {
    .main { width: 56%; }
}

@media (max-width: 1080px) {
    .main { width: 67%; }
}

@media (max-width: 1024px) {
    div.seatCharts-container {
        padding: 0 13px 0 0;
        width: 57%;
    }

    .booking-details { width: 36%; }
}

@media (max-width: 991px) {
    div.seatCharts-container { width: 58%; }

    .content h1 { font-size: 31px; }
}

@media (max-width: 800px) {
    .main { width: 79%; }

    /*-- w3layouts --*/
    .booking-details { width: 33%; }

    div.seatCharts-container { width: 62%; }

    .front { margin: 5px 9px 45px 38px; }

    ul.book-right { width: 57%; }

    .main h2 { font-size: 25px; }
}

@media (max-width: 768px) {
    div.seatCharts-container { width: 60%; }

    .main { width: 85%; }

    .content { padding: 112px 0; }
}

@media (max-width: 736px) {
    div.seatCharts-container { width: 62%; }

    .content h1 { font-size: 27px; }

    .main h2 { font-size: 24px; }

    .content { padding: 74px 0; }
}

@media (max-width: 667px) {
    div.seatCharts-container {
        border: none;
        padding: 0 0px 0 0;
        width: 100%;
    }

    .booking-details {
        margin-top: 35px;
        width: 100%;
    }

    /*-- agileits --*/
    .main { width: 59%; }

    .content h1 { font-size: 24px; }
}

@media (max-width: 640px) {
    .content { padding: 59px 0; }

    .main { width: 61%; }

    .front { margin: 5px 6px 45px 6px; }
}

@media (max-width: 600px) {
    .main h2 { font-size: 21px; }

    .main { width: 65%; }

    .front { margin: 5px 6px 36px 6px; }
}

@media (max-width: 568px) {
    .main { width: 68%; }
}

@media (max-width: 480px) {
    .main {
        padding: 18px 18px;
        width: 81%;
    }

    p.copy_rights {
        font-size: 13px;
        line-height: 1.8em;
        margin: 0 auto;
        width: 90%;
    }
}

@media (max-width: 414px) {
    .main { width: 85%; }

    div.seatCharts-cell {
        font-size: 12px;
        height: 25px;
        line-height: 26px;
        margin: 3px;
        width: 25px;
    }

    .content h1 { font-size: 22px; }

    .main h2 { margin-bottom: 21px; }
}

@media (max-width: 384px) {
    div.seatCharts-cell {
        height: 23px;
        line-height: 24px;
        width: 23px;
    }

    .content { padding: 45px 0; }
}

@media (max-width: 375px) {
    .main h2 { font-size: 20px; }

    div.seatCharts-cell { margin: 2px 3px 2px 2px; }

    .main { margin: 28px auto; }

    ul.book-right li, ul.book-left li { font-size: 14px; }

    .content h1 { font-size: 19px; }
}

@media (max-width: 320px) {
    .content { padding: 41px 0; }

    .main h2 { font-size: 17px; }

    .front {
        font-size: 14px;
        margin: 5px 6px 25px 6px;
        padding: 7px 0;
    }

    .content h1 { font-size: 18px; }

    div.seatCharts-cell { margin: 2px 2px 2px 2px; }

    .main {
        padding: 15px 8px;
        width: 90%;
    }

    div.seatCharts-cell {
        font-size: 11px;
        height: 22px;
        line-height: 22px;
        width: 22px;
    }

    .checkout-button { font-size: 14px; }

    span.seatCharts-legendDescription {
        font-size: 13px;
        line-height: 0px;
    }
}