USE [master]
GO
/****** Object:  Database [Cinema5927]    Script Date: 9/2/2562 15:35:23 ******/
CREATE DATABASE [Cinema5927]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cinema5927', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Cinema5927.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cinema5927_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Cinema5927_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cinema5927].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cinema5927]
GO
USE [Cinema5927]
GO
/****** Object:  Table [dbo].[Table_Chair]    Script Date: 9/2/2562 15:35:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Chair](
	[C_ChairID] [int] IDENTITY(1,1) NOT NULL,
	[C_NameChair] [varchar](20) NULL,
	[C_SatatusID] [int] NULL,
	[C_ScreenID] [int] NULL,
	[C_Price] [int] NULL,
 CONSTRAINT [PK_Table_Chair] PRIMARY KEY CLUSTERED 
(
	[C_ChairID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Cinema]    Script Date: 9/2/2562 15:35:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Cinema](
	[C_CinemaID] [int] IDENTITY(1,1) NOT NULL,
	[C_Name] [varchar](50) NULL,
	[C_AmoutHire] [int] NULL,
 CONSTRAINT [PK_Table_Cinema] PRIMARY KEY CLUSTERED 
(
	[C_CinemaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_DetailOder]    Script Date: 9/2/2562 15:35:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_DetailOder](
	[D_DetailOderID] [int] IDENTITY(1,1) NOT NULL,
	[D_Order] [int] NULL,
	[D_hairID] [int] NULL,
 CONSTRAINT [PK_Table_DetailOder] PRIMARY KEY CLUSTERED 
(
	[D_DetailOderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Movie]    Script Date: 9/2/2562 15:35:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Movie](
	[M_MovieID] [int] IDENTITY(1,1) NOT NULL,
	[M_NameMovie] [varchar](50) NULL,
	[M_DateInMovie] [varchar](15) NULL,
	[M_DateOutMovie] [varchar](15) NULL,
	[M_PicMovie] [image] NULL,
	[M_MovieStatus] [int] NULL,
 CONSTRAINT [PK_Table_Movie] PRIMARY KEY CLUSTERED 
(
	[M_MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Order]    Script Date: 9/2/2562 15:35:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Order](
	[O_OrderID] [int] IDENTITY(1,1) NOT NULL,
	[O_Email] [varchar](50) NULL,
	[O_DateOder] [varchar](15) NULL,
	[O_SatatusBay] [int] NULL,
	[O_Total] [int] NULL,
	[O_IMGPAY] [image] NULL,
 CONSTRAINT [PK_Table_Order] PRIMARY KEY CLUSTERED 
(
	[O_OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Screen]    Script Date: 9/2/2562 15:35:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Screen](
	[S_ScreenID] [int] IDENTITY(1,1) NOT NULL,
	[S_MovieID] [int] NULL,
	[S_CinemaID] [int] NULL,
	[S_DateSN] [varchar](15) NULL,
	[S_TimeSN] [varchar](15) NULL,
	[S_StatusSN] [int] NULL,
 CONSTRAINT [PK_Table_Screen] PRIMARY KEY CLUSTERED 
(
	[S_ScreenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_StatusBay]    Script Date: 9/2/2562 15:35:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_StatusBay](
	[B_SatatusBayID] [int] IDENTITY(1,1) NOT NULL,
	[B_Name] [varchar](50) NULL,
 CONSTRAINT [PK_Table_StatusBay] PRIMARY KEY CLUSTERED 
(
	[B_SatatusBayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_StatusChire]    Script Date: 9/2/2562 15:35:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_StatusChire](
	[S_StatusChireID] [int] IDENTITY(1,1) NOT NULL,
	[S_NameSta] [varchar](50) NULL,
 CONSTRAINT [PK_Table_StatusChire] PRIMARY KEY CLUSTERED 
(
	[S_StatusChireID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_StatusMovie]    Script Date: 9/2/2562 15:35:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_StatusMovie](
	[S_StatusMovieID] [int] IDENTITY(1,1) NOT NULL,
	[S_NameStatus] [varchar](50) NULL,
 CONSTRAINT [PK_Table_StatusMovie] PRIMARY KEY CLUSTERED 
(
	[S_StatusMovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Type]    Script Date: 9/2/2562 15:35:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Type](
	[T_TypeID] [int] IDENTITY(1,1) NOT NULL,
	[T_TypeName] [varchar](50) NULL,
 CONSTRAINT [PK_Table_Type] PRIMARY KEY CLUSTERED 
(
	[T_TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_User]    Script Date: 9/2/2562 15:35:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_User](
	[U_EmailID] [varchar](50) NOT NULL,
	[U_Password] [varchar](30) NULL,
	[U_Name] [varchar](30) NULL,
	[U_LastName] [varchar](30) NULL,
	[U_CardID] [varchar](13) NULL,
	[U_Phone] [varchar](10) NULL,
	[U_TypeID] [int] NULL,
 CONSTRAINT [PK_Table_User] PRIMARY KEY CLUSTERED 
(
	[U_EmailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Table_Chair] ON 
GO
INSERT [dbo].[Table_Chair] ([C_ChairID], [C_NameChair], [C_SatatusID], [C_ScreenID], [C_Price]) VALUES (1340, N'A1', 1, 4, 150)
GO
INSERT [dbo].[Table_Chair] ([C_ChairID], [C_NameChair], [C_SatatusID], [C_ScreenID], [C_Price]) VALUES (1341, N'A2', 1, 4, 150)
GO
INSERT [dbo].[Table_Chair] ([C_ChairID], [C_NameChair], [C_SatatusID], [C_ScreenID], [C_Price]) VALUES (1342, N'A3', 2, 4, 150)
GO
SET IDENTITY_INSERT [dbo].[Table_Chair] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_Cinema] ON 
GO
INSERT [dbo].[Table_Cinema] ([C_CinemaID], [C_Name], [C_AmoutHire]) VALUES (1, N'โรงหนัง1', 120)
GO
SET IDENTITY_INSERT [dbo].[Table_Cinema] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_DetailOder] ON 
GO
INSERT [dbo].[Table_DetailOder] ([D_DetailOderID], [D_Order], [D_hairID]) VALUES (5, 2, 1340)
GO
INSERT [dbo].[Table_DetailOder] ([D_DetailOderID], [D_Order], [D_hairID]) VALUES (6, 2, 1341)
GO
INSERT [dbo].[Table_DetailOder] ([D_DetailOderID], [D_Order], [D_hairID]) VALUES (7, 2, 1352)
GO
SET IDENTITY_INSERT [dbo].[Table_DetailOder] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_Movie] ON 
GO
SET IDENTITY_INSERT [dbo].[Table_Movie] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_Order] ON 
GO
INSERT [dbo].[Table_Order] ([O_OrderID], [O_Email], [O_DateOder], [O_SatatusBay], [O_Total], [O_IMGPAY]) VALUES (4, N'tae_eiei@kru.ac.th', N'05/02/2562', 2, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Table_Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_Screen] ON 
GO
INSERT [dbo].[Table_Screen] ([S_ScreenID], [S_MovieID], [S_CinemaID], [S_DateSN], [S_TimeSN], [S_StatusSN]) VALUES (2, 6, 1, N'2019-01-17', N'12:20', 1)
GO
INSERT [dbo].[Table_Screen] ([S_ScreenID], [S_MovieID], [S_CinemaID], [S_DateSN], [S_TimeSN], [S_StatusSN]) VALUES (3, 6, 1, N'2019-01-09', N'13:00', 1)
GO
INSERT [dbo].[Table_Screen] ([S_ScreenID], [S_MovieID], [S_CinemaID], [S_DateSN], [S_TimeSN], [S_StatusSN]) VALUES (4, 6, 1, N'2019-02-20', N'12:00', 2)
GO
SET IDENTITY_INSERT [dbo].[Table_Screen] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_StatusBay] ON 
GO
INSERT [dbo].[Table_StatusBay] ([B_SatatusBayID], [B_Name]) VALUES (1, N'รอการตรวจสอบ')
GO
INSERT [dbo].[Table_StatusBay] ([B_SatatusBayID], [B_Name]) VALUES (2, N'ยังไม่ได้ชำระเงิน')
GO
INSERT [dbo].[Table_StatusBay] ([B_SatatusBayID], [B_Name]) VALUES (3, N'ชำระเงินแล้ว')
GO
SET IDENTITY_INSERT [dbo].[Table_StatusBay] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_StatusChire] ON 
GO
INSERT [dbo].[Table_StatusChire] ([S_StatusChireID], [S_NameSta]) VALUES (1, N'ไม่ว่าง')
GO
INSERT [dbo].[Table_StatusChire] ([S_StatusChireID], [S_NameSta]) VALUES (2, N'ว่าง')
GO
SET IDENTITY_INSERT [dbo].[Table_StatusChire] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_StatusMovie] ON 
GO
INSERT [dbo].[Table_StatusMovie] ([S_StatusMovieID], [S_NameStatus]) VALUES (1, N'กำลังฉาย')
GO
INSERT [dbo].[Table_StatusMovie] ([S_StatusMovieID], [S_NameStatus]) VALUES (2, N'ออกโรง')
GO
SET IDENTITY_INSERT [dbo].[Table_StatusMovie] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_Type] ON 
GO
INSERT [dbo].[Table_Type] ([T_TypeID], [T_TypeName]) VALUES (1, N'user')
GO
INSERT [dbo].[Table_Type] ([T_TypeID], [T_TypeName]) VALUES (2, N'admin')
GO
SET IDENTITY_INSERT [dbo].[Table_Type] OFF
GO
INSERT [dbo].[Table_User] ([U_EmailID], [U_Password], [U_Name], [U_LastName], [U_CardID], [U_Phone], [U_TypeID]) VALUES (N'tae_eiei@kru.ac.th', N'123456', N'bom', N'bum', N'1234567893691', N'0123456789', 1)
GO
INSERT [dbo].[Table_User] ([U_EmailID], [U_Password], [U_Name], [U_LastName], [U_CardID], [U_Phone], [U_TypeID]) VALUES (N'xxx@kru.ac.th', N'123456', N'xxx', N'xxxx', N'1234567893691', N'0123456789', 2)
GO
ALTER TABLE [dbo].[Table_Chair]  WITH CHECK ADD  CONSTRAINT [FK_Table_Chair_Table_Screen] FOREIGN KEY([C_ScreenID])
REFERENCES [dbo].[Table_Screen] ([S_ScreenID])
GO
ALTER TABLE [dbo].[Table_Chair] CHECK CONSTRAINT [FK_Table_Chair_Table_Screen]
GO
ALTER TABLE [dbo].[Table_Chair]  WITH CHECK ADD  CONSTRAINT [FK_Table_Chair_Table_StatusChire] FOREIGN KEY([C_SatatusID])
REFERENCES [dbo].[Table_StatusChire] ([S_StatusChireID])
GO
ALTER TABLE [dbo].[Table_Chair] CHECK CONSTRAINT [FK_Table_Chair_Table_StatusChire]
GO
ALTER TABLE [dbo].[Table_DetailOder]  WITH CHECK ADD  CONSTRAINT [FK_Table_DetailOder_Table_Chair] FOREIGN KEY([D_hairID])
REFERENCES [dbo].[Table_Chair] ([C_ChairID])
GO
ALTER TABLE [dbo].[Table_DetailOder] CHECK CONSTRAINT [FK_Table_DetailOder_Table_Chair]
GO
ALTER TABLE [dbo].[Table_DetailOder]  WITH CHECK ADD  CONSTRAINT [FK_Table_DetailOder_Table_Order] FOREIGN KEY([D_Order])
REFERENCES [dbo].[Table_Order] ([O_OrderID])
GO
ALTER TABLE [dbo].[Table_DetailOder] CHECK CONSTRAINT [FK_Table_DetailOder_Table_Order]
GO
ALTER TABLE [dbo].[Table_Movie]  WITH CHECK ADD  CONSTRAINT [FK_Table_Movie_Table_StatusMovie] FOREIGN KEY([M_MovieStatus])
REFERENCES [dbo].[Table_StatusMovie] ([S_StatusMovieID])
GO
ALTER TABLE [dbo].[Table_Movie] CHECK CONSTRAINT [FK_Table_Movie_Table_StatusMovie]
GO
ALTER TABLE [dbo].[Table_Order]  WITH CHECK ADD  CONSTRAINT [FK_Table_Order_Table_StatusBay] FOREIGN KEY([O_SatatusBay])
REFERENCES [dbo].[Table_StatusBay] ([B_SatatusBayID])
GO
ALTER TABLE [dbo].[Table_Order] CHECK CONSTRAINT [FK_Table_Order_Table_StatusBay]
GO
ALTER TABLE [dbo].[Table_Order]  WITH CHECK ADD  CONSTRAINT [FK_Table_Order_Table_User] FOREIGN KEY([O_Email])
REFERENCES [dbo].[Table_User] ([U_EmailID])
GO
ALTER TABLE [dbo].[Table_Order] CHECK CONSTRAINT [FK_Table_Order_Table_User]
GO
ALTER TABLE [dbo].[Table_Screen]  WITH CHECK ADD  CONSTRAINT [FK_Table_Screen_Table_Cinema] FOREIGN KEY([S_CinemaID])
REFERENCES [dbo].[Table_Cinema] ([C_CinemaID])
GO
ALTER TABLE [dbo].[Table_Screen] CHECK CONSTRAINT [FK_Table_Screen_Table_Cinema]
GO
ALTER TABLE [dbo].[Table_Screen]  WITH CHECK ADD  CONSTRAINT [FK_Table_Screen_Table_Movie] FOREIGN KEY([S_MovieID])
REFERENCES [dbo].[Table_Movie] ([M_MovieID])
GO
ALTER TABLE [dbo].[Table_Screen] CHECK CONSTRAINT [FK_Table_Screen_Table_Movie]
GO
ALTER TABLE [dbo].[Table_User]  WITH CHECK ADD  CONSTRAINT [FK_Table_User_Table_Type] FOREIGN KEY([U_TypeID])
REFERENCES [dbo].[Table_Type] ([T_TypeID])
GO
ALTER TABLE [dbo].[Table_User] CHECK CONSTRAINT [FK_Table_User_Table_Type]
GO
USE [master]
GO
