/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus { outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* FlexSlider Necessary Styles
*********************************/

.flexslider .slides > li {
    -webkit-backface-visibility: hidden;
    display: none;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */

.flexslider .slides img {
    display: block;
    width: 100%;
}

.flex-pauseplay span { text-transform: capitalize; }

/* Clearfix for the .slides element */

.slides:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

html[xmlns] .slides { display: block; }

* html .slides { height: 1%; }

/* No JavaScript Fallback */

/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */

.no-js .slides > li:first-child { display: block; }


/* FlexSlider Default Theme
*********************************/

.flexslider {
    border: 0px;
    overflow: hidden;
    padding-top: 2em;
    position: relative;
    zoom: 1;
}

.flex-viewport {
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    max-height: 2000px;
    transition: all 1s ease;
}

.loading .flex-viewport { max-height: 300px; }

.flexslider .slides { zoom: 1; }

.carousel li { margin-right: 5px }


/* Direction Nav */

.flex-direction-nav { *height: 0; }

.flex-direction-nav a {
    -webkit-transition: all .3s ease;
    background: url(../images/img-sp.png) no-repeat 0px 0px;
    cursor: pointer;
    display: block;
    height: 30px;
    margin: 0;
    opacity: 1;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 30px;
    z-index: 10;
}

.flex-direction-nav .flex-next {
    background-position: -37px 0px;
    right: 1.4%;
    top: 0%;
}

.flex-direction-nav .flex-prev { left: 93%; }

.flexslider:hover .flex-next { opacity: 0.8; }

.flexslider:hover .flex-prev { opacity: 0.8; }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }

.flex-direction-nav .flex-disabled {
    cursor: default;
    filter: alpha(opacity=30);
    opacity: .3 !important;
}

/* Control Nav */

.flex-control-nav {
    display: none;
    margin-left: 0px;
    position: absolute;
    right: 10%;
    top: 10%;
}

.flex-control-nav li {
    display: inline-block;
    margin: 0 5px;
    zoom: 1;
}

.flex-control-paging li a {
    background: none;
    border: 2px solid #7C7C7C;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    height: 10px;
    text-indent: -9999px;
    width: 10px;
}

.flex-control-paging li a.flex-active {
    background: #EC600B;
    border: 2px solid #EC600B;
    cursor: default;
}

.flex-control-thumbs {
    margin: 5px 0 0;
    overflow: hidden;
    position: static;
}

.flex-control-thumbs li {
    float: left;
    margin: 0;
    width: 25%;
}

.flex-control-thumbs img {
    cursor: pointer;
    display: block;
    opacity: .7;
    width: 100%;
}

.flex-control-thumbs img:hover { opacity: 1; }

.flex-control-thumbs .flex-active {
    cursor: default;
    opacity: 1;
}

@media screen and (max-width: 1440px) {	
}

@media screen and (max-width: 1366px) {	
}

@media screen and (max-width: 1080px) {
    .flex-direction-nav .flex-prev { left: 92%; }
}

@media screen and (max-width: 991px) {
    .flex-direction-nav .flex-prev { left: 90%; }
}

@media screen and (max-width: 800px) {
    .flex-direction-nav .flex-next { right: 0; }

    .flex-direction-nav .flex-prev { left: 91%; }
}

@media screen and (max-width: 667px) {
    .flex-direction-nav .flex-prev { left: 90%; }
}

@media screen and (max-width: 640px) {
    .flex-direction-nav .flex-prev { left: 89%; }
}

@media screen and (max-width: 568px) {
    .flex-direction-nav .flex-prev { left: 88%; }
}

@media screen and (max-width: 480px) {
    section.slider { padding-top: 0%; }

    .flex-direction-nav .flex-prev { left: 85%; }
}

@media screen and (max-width: 414px) {
    .flex-direction-nav .flex-prev { left: 83%; }
}

@media screen and (max-width: 384px) {
    .flex-direction-nav .flex-prev { left: 81%; }
}

@media screen and (max-width: 375px) {
    .flex-direction-nav .flex-prev { left: 81%; }
}

@media screen and (max-width: 320px) {
    section.slider { padding-top: 0%; }

    .flex-direction-nav .flex-prev { left: 77%; }
}